body {
  margin: 0;
  padding: 0;
  background-color: #0f0f11;
  overflow-x: hidden; /* Cleans up the rotated image edges */
}

.background {
  background-image: url("https://github.com/invalidartist/toddedwardsarchive.github.io/blob/main/ToddBG.png?raw=true");
  background-repeat: repeat;
  background-size: 30%;

  position: fixed;
  top: -25%;
  left: -25%; 
  width: 150vw;  
  height: 150vh;  
  
  filter: blur(10px) brightness(70%) contrast(120%) saturate(120%);
  transform: rotate(-20deg);
  z-index: -1;
}

.welcome-header {
  text-align: center; 
  background: transparent; 
  position: relative; 
  padding: 40px 20px;
}
.welcome-uppertext {
  color: white;
}
.welcome-header h1 {
  color: red;
}
.welcome-subtext {
  color: gray;
}
