

.background {
  background-image: url("ToddBG.png");
  background-repeat: repeat;
  background-size: 30%;
  width: 150%;
  height: 150%;
  filter:blur(20px);
  transform: rotate(-20deg);
}

.welcome-header {
  position: center;
  background: transparent
}
.welcome-uppertext {
  color: white;
}
.welcome-header h1 {
  color: red;
}
.welcome-subtext {
  color: gray;
}
